.table__container {
  width: 100%;
}

.table__header {
  background-color: var(--color-gray--50);
  border-top: 1px solid var(--color-gray--200);
  border-bottom: 1px solid var(--color-gray--200);

  color: var(--color-gray--400);

  & th {
    padding: 1rem;
    text-align: left;
  }
}

.table__body {
  & tr > td {
    padding: 1rem;
  }

  & tr:nth-child(even) {
    background: var(--color-gray--50);
  }
}
