{
  "$schema": "http://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": false,
      "dynamicImport": false
    },
    "target": "es2020"
  }
}