.page {
  height: 100%;
  display: grid;
  grid-gap: 1rem;
}

.summary__container {
  grid-template-rows: 3fr 4fr 2fr 2fr;
  grid-template-columns: 1fr;
}

.time__container {
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
}

.reports__container {
  grid-template-rows: 2fr 4fr;
  grid-template-columns: 1fr;
}

.invoices__container {
  grid-template-rows: 1fr 2fr 4fr;
  grid-template-columns: 1fr;
}

.settings__container {
  grid-template-rows: auto 4fr;
  grid-template-columns: 1fr;
}
